body{
	font-family: sans-serif;
	background: #d5f0f3;
}
 
h1{
	text-align: center;
	/*ketebalan font*/
	font-weight: 300;
}
 
.tulisan_daftar{
	text-align: center;
	/*membuat semua huruf menjadi kapital*/
	text-transform: uppercase;
}
 
.kotak_daftar{
	width: 350px;
	background: rgba(139, 142, 234, 0.536);;
	/*meletakkan form ke tengah*/
	margin: 80px auto;
	padding: 30px 20px;
	border-radius: 8px;

}
 
label{
	font-size: 11pt;
}
 
.form_registrasi{
	/*membuat lebar form penuh*/
	box-sizing : border-box;
	width: 100%;
	padding: 10px;
	font-size: 11pt;
	margin-bottom: 20px;
}
 
.tombol_daftar{
	background: #46de4b;
	font-size: 15pt;
	width: 88%;
	border: none;
	border-radius: 3px;
	padding: 10px 20px;
	font-weight: bold;
	cursor: pointer;
	
}
 
.link{
	color: #232323;
	text-decoration: none;
	font-size: 10pt;
}